---
// astro
import { getCollection, render } from 'astro:content';
// third
// own
import Layout from '@/layouts/Layout.astro';
import BtnAddProductCart from '@/components/BtnAddProductCart.astro';
// code

export async function getStaticPaths() {
    const products = await getCollection('products');
    return products.map(product => ({
        params: { id: product.id },
        props: { product },
    }));
}

const { product } = Astro.props;
const { Content } = await render(product);
---

<Layout title="Product Page" description="Detalles del producto">
    <div class="m-4 flex flex-col items-center">
        <div class="prose prose-invert">
            <img transition:name={`img-${product.id}`} src={`/${product.data.img}`} alt={product.data.title} class="rounded" />
            <h1>{product.data.title}</h1>
            <p>Price: <strong>${product.data.price.toFixed(2)}</strong></p>
            <BtnAddProductCart product={product.data} productId={product.id} />
            <p>{product.data.description}.</p>
            <Content />
        </div>
    </div>
</Layout>